body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Class */
.poppins {
  font-family: 'Poppins', sans-serif;
}
.status-alive {
  color: #48DE96;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.status-dead {
 color: #FB7181;
 font-weight: 700;
 font-size: 14px;
  letter-spacing: 0.5px;
}

.status-unknown {
  color: #48BADE;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}